<launch>
  <param name="robot_description" command="cat $(find morse_nav)/turtlebot.urdf" />
  <node name="map_server" pkg="map_server" type="map_server" args="$(find morse_nav)/map.yaml" />

  <group ns="turtlebot1">
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" >
      <param name="tf_prefix" value="turtlebot1" />
    </node>
    <node name="tf_br" pkg="morse_nav" type="turtle_tf_broadcaster.py" >
      <param name="turtle" value="turtlebot1" />
    </node>
  </group>

  <group ns="turtlebot2">
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" >
      <param name="tf_prefix" value="turtlebot2" />
    </node>
    <node name="tf_br" pkg="morse_nav" type="turtle_tf_broadcaster.py" >
      <param name="turtle" value="turtlebot2" />
    </node>
  </group>
</launch>
