<?xml version="1.0"?>

<model>
  <name>UnB Hospital</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Gabriel Araujo</name>
    <email>gabriel.fp.araujo@gmail.com</email>
  </author>

  <description>
	Mapa do primeiro andar do prédio do cic
  </description>
</model>
